server:
  port: 8080

spring:
  application.name: edu-platform
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        jdbc.time_zone: UTC

  datasource:
    url: jdbc:postgresql://localhost:15432/edu_db
    driver-class-name: org.postgresql.Driver
    username: edu_user
    password: edu_pass
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
  profiles:
    active: dev


logging:
  level:
    org.hibernate.SQL: off
    org.hibernate.orm.jdbc.bind: off